# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
env/
ENV/

# Local databases and models
backend/eco_tourism.db
backend/sentiment_model.pkl
backend/demand_model.pkl

# Editors & IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS temporary files
.DS_Store
Thumbs.db
